
<footer>
    <div class="container footersection">
        <ul>
            <li><a href="#" data-toggle="modal" data-target="#contact-us">Contact Us </a></li>
            <li>|</li>
            <li><a href="#" data-toggle="modal" data-target="#term-condisation">Terms &amp; Conditions</a></li>
            <li>|</li>
            <li><a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a></li>
            <div class="clr"></div>
        </ul>
        <div class="clr"></div>
        <div class="col-12 d-block copyrightdiv">
            <p>
                healthinsurancedeal.co.uk and the logo are registered trademarks of Web Search Media Limited. Data protection <b>registration no: ZA233488</b>.
            </p>
            <p>Copyright 2017-@DateTime.Now.Year © tophealthinsuranceplan.co.uk. All rights reserved.</p>
        </div>
    </div>

</footer>