
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/views/shared/_layoutHome.cshtml";
}

<section class="sliderBody contact-bg  pb-5">
    <div class="container bgcolor">
        <div class="row p-2">
            <div class="col-12 p-0 position-relative">
                <div class="slid-leftside thank-youbody text-center">
                    <h1>
                       
                        <span class="d-block"> Contact Us</span>
                    </h1>
                    <p class="pt-2 pt-md-4">
                   
                        <b>To write to healthinsurancedeal.co.uk :</b>
                        <br />
                        Web Search Media Limited, <br />
                        49 Whitefriars Avenue, Harrow,<br />
                        Middlesex,United Kingdom, HA3 5RQ.
                    </p>
                    <p>

                        <b>To email healthinsurancedeal.co.uk</b>
                        <br />
                        info@websearchmedia.co.uk
                    </p>  
                </div>
            </div>
        </div>
    </div>
</section>